<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tassel.mapper.CommentMapper">
    <sql id="selectFields">
        `id`, `user_id`, `entity_type`, `entity_id`, `target_id`, `content`, `status`, `create_time`
    </sql>
    <sql id="insertFields">
        `user_id`, `entity_type`, `entity_id`, `target_id`, `content`, `status`, `create_time`
    </sql>

    <select id="selectCommentsByEntity" resultType="com.tassel.entity.Comment">
        select
        <include refid="selectFields"/>
        from community.comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
        order by create_time asc
        limit #{offset}, #{limit}
    </select>

    <select id="selectCountByEntity" resultType="java.lang.Integer">
        select count(id)
        from community.comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
    </select>

    <insert id="insertComment" parameterType="com.tassel.entity.Comment">
        insert into community.comment(<include refid="insertFields"/>)
        values(#{userId}, #{entityType}, #{entityId}, #{targetId}, #{content}, #{status}, #{createTime})
    </insert>
</mapper>